#!/usr/bin/env bash

alias startSSHTunnels='/home/n1ko23/Scripts/startSSHTunnels.sh'
alias stopSSHTunnels='/home/n1ko23/Scripts/stopSSHTunnels.sh'

alias open='_open_files_for_editing'     # 'ef' opens given file(s) for editing
alias pacdiff=_Pacdiff

alias ls='ls --color=auto'
alias ll='ls -lav --ignore=..'   # show long listing of all except ".."
alias l='ls -lav --ignore=.?*'   # show long listing but no hidden dotfiles except "."
